.numberQuestionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--white);

    font-weight: 500;
}

.numberQuestionsContainer span:first-child {
    font-size: 1.25rem;
}

.numberQuestionsContainer span:last-child {
    font-size: 1.5rem;
}