aside.sidebarContainer {
  height: 100vh;
  width: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
  background: var(--white);
  border-color: skyblue;
  border-radius: 0.5rem;
}
.subContainer {
  height: 100%;
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



div.logoContainer {
  position: absolute;
  top: 0;
  margin-top: 2rem;
}


main.mainPages, div.settingsPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}



div.LogoutContainer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
}



button.btnPage {
  width: calc(100% - 5px);

  background-color: transparent;
  text-decoration: none;
  outline: none;
  border: 0;
  border-left: solid 5px transparent;

  padding: 0.5rem 0;
}
button.btnPage:hover {
  border-left: 5px solid #c0c0c0;
}

button.btnPage, button.btnPage img {
    transition: 0.2s;
}

button.btnPage img {
    filter: grayscale(10%);

    opacity: 0.5;
}

/* Mobile */
@media (max-width: 600px) { 
  aside.sidebarContainer {
      display: none;
  }
}