.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--text-highlight);
    background-image: url("../../../public/assets/fundoBiblioteca.jpg");
    
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
}

.containerLogin {
    background-image:url("../../../public/assets/pergaminhoAntigo.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 30rem;
    height: 40rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    padding: 5rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column
}

.form p {
    text-align: left;
    width: 100%;
    margin-top: 0.8rem;
    border-bottom: 2px solid lightgray;
}

.form a {
    text-align: left;
    width: 100%;
    margin-top: 0.5rem;
    color: blue;
}

.form input {
    margin-top: 0.4rem;
    height: 2.5rem;
    width: 100%;

}
.form a:focus {
    box-shadow:blue !important;
    outline:blue !important;
    border-color: blue !important;
}

.btnSubmit{
    background: var(--green);
    color: var(--white);
    width: 90%;
    height: 4rem;
    border-radius: 4px;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 3rem;
    box-shadow: 1px 2px 5px #1b1b1b;
  }


/* Tablet & Mobile */
@media (max-width: 500px) {
    .form {
        justify-content: center;
    }
    .containerLogin {
        background-image:url("../../../public/assets/pergaminhoAntigo.png");
        background-repeat: no-repeat;
        background-size:cover;
        width: 25rem;
        height: 36rem;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;
        padding: 5rem;
        margin-right: 1rem;
    }
}