  .container {
    height: 15vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
}

.homeContainer {
  background: #CFD8F4;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(77, 75, 75, 0.05);
  padding: 1.3rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container section.homeSection {
    flex: 1;

    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 4.0rem;
    align-content: center;
}


/* configurações de tamanho mobile*/
@media (max-width: 820px) {
  .container {
      max-width: 620px;
  }
  .container section {
      grid-template-columns: 1fr;
  }

  .container section.homeSection {
    grid-template-columns: 1fr;
  }
}

